body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 16px;
  background-color: dimgrey;
  color: #696969;
  padding: 3px;
}

#title, #main, #foot01, #nav {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    margin: 1px;
    background-color: #ffffff;
}
#title {
    padding-bottom: 1px;
    border-radius: 5px 5px 0 0;
}
#foot01 {
    border-radius: 0 0 5px 5px;
}
h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #cc9900;
    color: #996600;
    font-size: 30px;
}

ul#menu {
    padding: 0;
}
ul#menu li {
    display: inline;
    margin-right: 3px;
    margin-left: 3px;
}

/*
ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 1px #ccc;
}

ul#menu li a:hover {
    color: white;
    background-color: #494949;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 #ccc;
}
*/
ul#menu li a {
    padding: 10px 15px;
    background: #dddddd;
    color: #595959;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px dimgrey;
    text-shadow: 0 -1px 0 rgba(150, 150, 150, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
ul#menu li a:hover {
    background: #888888;
    color: #ffffff;
    border: solid 1px #444444;
    text-decoration: none;
}
ul#menu li a:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #666666;
    border: solid 1px #203E5F;
}
#main {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.active {
  height: 500px;
}
.active li {
  position: absolute;
  top: 500px;
}
.active li.current {
  top: 0px;
}
#main .buttons {
  padding: 5px 0;
  margin-top: 10px;
  background: #ffffff;
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: block;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}